cairo
fontconfig
freetype
fribidi
gdbm
gettext
glib
graphite2
harfbuzz
icu4c
ilmbase
imagemagick
jpeg
libde265
libffi
libheif
libomp
libpng
libtiff
libtool
little-cms2
lzo
openexr
openjpeg
openssl@1.1
pango
pcre
pipenv
pixman
python
python@3.8
readline
shared-mime-info
sqlite
webp
x265
xz
