[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
templative = {file = ".", editable = true}

[packages]
asyncclick = "*"
anyio = "*"
aiofile = "*"
wand = "*"
aiohttp = "*"
tabulate = "*"
pillow = "*"
fpdf = "*"
markdown2 = "*"
svgmanip = "*"
setuptools = "*"
gitpython = "*"
aiohttp-cors = "*"
python-socketio = "*"

[requires]
python_version = "3"
