[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiofile = "*"
aiohttp = "*"
asyncclick = "*"
fpdf2 = "*"
GitPython = "*"
markdown2 = "*"
Pillow = "*"
svgmanip = "*"
svgutils = "*"
tabulate = "*"
weasyprint = "*"

[requires]
python_version = "3"
